.profileRightbar{
    flex: 3.5;
    padding: 0 20px 0 0;

    .profileRightbarHeading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;

        .profileRightbarTitle{
            font-size: 18px;
            font-weight: 500;
        }
        .editButton{
            border: none;
            padding: 7px;
            border-radius: 5px;
            background-color: rgb(3, 0, 19);
            color: white;
            cursor: pointer;
        }
    }

    .profileRightbarInfo{
        margin-bottom: 30px;

        .profileRightbarInfoItem{
            margin-bottom: 10px;

            .profileRightbarInfoKey{
                font-weight: 500;
                margin-right: 20px;
            }
            .profileRightbarInfoValue{
                font-weight: 300;
                margin-left: 25px;
            }
        }
    }

    .profileRightbarFollowings{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;

        .profileRightbarFollowing{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            cursor: pointer;

            .profileRightbarFollowingImg{
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 5px;
            }

            .profileRightbarFollowingName{
                align-self: center;
                margin-top: 5px;
            }

        }
    }
}


//Responsiveness
@media only screen and (max-width: 768px) {
    .profileRightbar{
        display: none;
    }
    
}